$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$blue: #2196f3;
$grey: #757575;
$light-grey: #ececec;
$black: #212121;
$white: #ffffff;
$icons: #afb1b8;

$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$mobile-menu-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
  0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

$projects-border: 1px solid #eeeeee;

$animation: cubic-bezier(0.4, 0, 0.2, 1);
